---
name: revdepcheck ⏪

on:
  schedule:
    - cron: '45 3 * * 0'
  workflow_dispatch:

jobs:
  revdepcheck:
    name: revdepcheck ↩️
    uses: insightsengineering/r.pkg.template/.github/workflows/revdepcheck.yaml@initialize-revdepcheck-action
